<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.qnx.tools.ide.qde.ui.QDELaunch">
<booleanAttribute key="auto_pick_program" value="true"/>
<stringAttribute key="com.qnx.tools.ide.qde.core.TARGET_ATTR" value="192.168.222.128"/>
<booleanAttribute key="defaults_pending" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="thread-waker"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/thread-waker"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
